body {
    background-color: rgb(209, 203, 203) !important;
}

.mensaje {
    height: 50px;
    background-color: #a85353;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
    color: white;

}


/* .cont1 {
    background-color: rgb(248, 244, 244);
    width: 400px !important;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
} */

.bot1 {
    width: 80px;
    height: 80px;
    border-radius: 50% !important;
    border: 1px solid black !important;
    margin: 10px;
    background-color: whitesmoke !important;
    font-size: 1.5em !important;
    color: #000 !important;
}

.fot {
    background-color: rgb(95, 91, 91);
    color: rgb(233, 177, 72);
    margin-top: 20px;
}

.dark {
    background-color: rgb(97, 97, 97);
    width: 400px !important;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: #000;
}

.light {
    background-color: rgb(248, 244, 244);
    width: 400px !important;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: rgb(13, 14, 112);
}


.retro {
    background-image: url(../images/retro.jpg);
    width: 400px !important;
    border: 2px solid white;
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
    color: white;
}