.mensaje {
    height: 150px;
    background-color: #f4f4f4;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
}

.cont1 {
    background-color: rgb(59, 58, 58);
    border-radius: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 60px;
}

.cont2 {
    background-color: darkgrey;
    border-radius: 20px;
    padding: 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bot1 {
    width: 80px;
    height: 60px;
    border-radius: 30%;
    margin: 10px;
}