body{
    margin: 0;
    background-color: darkgrey;
}

.header {
    display: flex;
    justify-content: center;
}

.main {
    grid-area: main;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    gap: 10px;
}

.txt{
    font-size: 1em;
    text-align: center;
}
    
.image{
    border-radius: 50%;
    width: 400px;
    height: 400px;
}